*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #141414;
    background-color: #E6E8E8;
}

button{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar{
    background-color: #E9E2D8;
    height: 60px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 60px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .logo{
    font-size: x-large;
}

.navbar a{
    color: #141414;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover{
    color: #ff9500;
}

.header{
    background-color: #E9E2D8;
    min-height: 95vh;
}

.header h1{
    font-size: 4rem;
    line-height: 1.5;
}

.header video{
    margin-top: 40px;
    max-width: 700px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container button:hover , .contact button:hover{
    background-color: #f0b69d;
    color: #141414;
}
.header .container button{
    background-color: #141414;
    padding: 15px 32px;
    color: #F4EFEB;
    margin-top: 60px;
    border-radius: 25px;
    border: 0;
}

h1{
    font-weight: 400;
}

p{
    font-family: 'Satisfy', cursive;
    margin-top: 20px;
    font-size: 1.3rem;
    color: #4d4d4d;
}

/* NEW SECTION STARTS FROM HERE  */

.boxes{
    background-color: #E6E8E8;
    min-height: 50vh;
}
.boxes .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.boxes h2{
    text-align: center;
}

.box .pics{
    max-width: 170px;
    border-radius: 25px;
}

.boxes h2 , .testimonial h2{
    font-weight: 400;
    font-size:xx-large;
    padding: 20px 0 30px;
}

.box{
    text-align: center;
}


/* NEW SECTION STARTS FROM HERE  */


.testimonial{
    max-width: 100%;
    background-color: #EFDCD4;
    min-height: 50vh;
    text-align: center;
}

.testimonial h3{
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 50px;
    color: #4d4d4d;
}


/* NEW SECTION STARTS FROM HERE  */


.contact{
    background-color: #1D1C17;
    max-width: 100%;
    min-height: 46vh;
    color: #F7F7F7;
}

.contact .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.contact h1{
    font-size: 3rem;
    margin-top: 60px;
    /* min-width: 100%; */
}

.contact button{
    background-color: #F7F7F7;
    padding: 15px 64px;
    color: #1D1C17;
    margin: 60px 15px 40px;
    border-radius: 25px;
    border: 0;
}

.foot{
    background-color: #1D1C17;
    color: #F7F7F7;
    height: 30px;
    text-align: center;
}

@media (max-width: 768px) {

    .navbar{
        height: 60px;
    }

    ul{
        gap: 10px;
    }

    .navbar .logo{
        font-size: medium;
    }

    .navbar a{
        font-size: 13px;
    }

    .header{
        min-height: 93vh;
    }

    .header h1{
        font-size: 2.5rem;
        line-height: 1.3;
    }

    .header video{
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 320px;
    }
    .header .container{
        flex-direction: column-reverse;
        padding-top: 20px;
        text-align: center;
    }

    .header .container button {
        padding: 8px 16px; 
        margin-top: 40px;
    }

    p{
        font-size: 1rem;
    }
    
    .boxes .container{
        display: block;
        text-align: center;
    }

    .box .pics{
        max-width: 140px;
    }

    .boxes h2 , .testimonial h2{
        font-size: x-large;
    }

    .box p{
        margin: 5px 0 20px;
    }

    .testimonial h3{
        padding-top: 0;
        padding-bottom: 30px;
        font-size: 1.2rem;
    }

    .contact .container{
        flex-direction: column;
        flex-wrap: nowrap;
    
    }

    .contact h1{
        font-size: 2.2rem;
        margin-top: 30px;
    }

    .contact button{
        padding: 8px 16px;
        margin-right: 0;
        margin: 60px 10px 0;
    }

    .foot{
        font-size: 0.7rem;
        height: 25px;
    }
   
}

/* IPAD DIMENSIONS */

@media (device-width: 820px) and (device-height: 1180px) , (device-width: 768px) and (device-height: 1024px) {
    
    .navbar{
        height: 60px;
    }

    ul{
        gap: 30px;
    }

    .navbar .logo{
        font-size:larger;
    }

    .navbar a{
        font-size: 16px;
    }

    .header{
        min-height: 93vh;
    }

    .header h1{
        font-size: 4rem;
        line-height: 1.3;
    }

    .header video{
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 650px;
    }
    .header .container{
        flex-direction: column-reverse;
        padding-top: 20px;
        text-align: center;
    }

    .header .container button {
        padding: 18px 35px; 
        margin-top: 60px;
    }

    p{
        font-size: 1.3rem;
    }
    
    /* .boxes .container{
        display: block;
        text-align: center;
    } */

    .boxes{
        min-height: 33vh;
    }
    .boxes p{
        font-size: 1rem;
    }
    .box .pics{
        max-width: 140px;
    }

    .boxes h2 , .testimonial h2{
        font-size: xx-large;
    }

    .box p{
        margin: 5px 0 20px;
    }

    .testimonial{
        min-height: 33vh;
    }
    .testimonial h3{
        padding-top: 40;
        padding-bottom: 30px;
        font-size: 1.2rem;
    }

    .contact .container{
        flex-direction: column;
        flex-wrap: nowrap;
    
    }

    .contact{
        min-height: 33vh;
    }

    .contact h1{
        font-size: 2.2rem;
        margin-top: 130px;
    }

    .contact button{
        padding: 8px 16px;
        margin-right: 0;
        margin: 60px 10px 0;
    }

    .foot{
        font-size: 0.7rem;
        height: 25px;
    }

}